<%= link_to  "Scatter Chart", scatter_path, class: "linkx" %><br>
<%= link_to  "Line and Clustered Chart", barchart_path, class: "linkx" %><br>
<div>
  <div class="nameChart nameBarChart market"></div>
  <svg id="market" class="barchart"></svg>
</div>
<div>
  <div class="nameChart nameBarChart organization"></div>
  <svg id="organization" class="barchart"></svg>
</div>