<div>
  <div class="nameBarChart market"></div>
  <svg id="market" class="barchart"></svg>
</div>
<div>
  <div class="nameBarChart organization"></div>
  <svg id="organization" class="barchart"></svg>
</div>