<div class="container">
	<div class="rows">
		<div class="item">
			<div class="nameChart nameBarChart market"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend"><div class="legendBarChart market"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
  			<svg id="market" class="barchart"></svg>
		</div>
		<div class="item">
			<div class="nameChart nameScatterChart market"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
  			<div class="wrapLegend"><div class="legendScatterChart market"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
			<svg id="scattermarket" class="scatterChart"></svg>
		</div>
	</div>
	<div class="rows">
		<div class="item">
			<div class="nameChart nameBarChart organization"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend"><div class="legendBarChart organization"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
  			<svg id="organization" class="barchart"></svg>
		</div>
		<div class="item">
			<div class="nameChart nameScatterChart organization"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend"><div class="legendScatterChart organization"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
			<svg id="scatterorganization" class="scatterChart"></svg>
		</div>
	</div>
</div>