<div class="container">
	<div class="rows">
		<div class="item">
			<div class="nameChart nameBarChart market"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend">
				<div class="legendHolder">
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #01b8aa;"></circle>
						</svg>
						<div class="textLegend">Min Price</div>
					</div>
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #374649;"></circle>
						</svg>
						<div class="textLegend">Max Price</div>
					</div>
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #fd625e;"></circle>
						</svg>
						<div class="textLegend">Benchmark Price</div>
					</div>
				</div>
			</div>
			<div class="next" onclick="scrollNext(this)">▶</div>
  			<svg id="market" class="barchart"></svg>
		</div>
		<div class="item scatter_chart">
			<div class="nameChart nameScatterChart market"></div>
			<div class="label">Mfr. Item ID</div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
  			<div class="wrapLegend"><div class="legendScatterChart market"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
			<svg id="scattermarket" class="scatterChart"></svg>
		</div>
	</div>
	<div class="rows">
		<div class="item">
			<div class="nameChart nameBarChart organization"></div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend">
				<div class="legendHolder">
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #01b8aa;"></circle>
						</svg>
						<div class="textLegend">Min Price</div>
					</div>
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #374649;"></circle>
						</svg>
						<div class="textLegend">Max Price</div>
					</div>
					<div class="legend">
						<svg>
							<circle cx="7" cy="10" r="7" style="fill: #fd625e;"></circle>
						</svg>
						<div class="textLegend">Benchmark Price</div>
					</div>
				</div>
			</div>
			<div class="next" onclick="scrollNext(this)">▶</div>
  			<svg id="organization" class="barchart"></svg>
		</div>
		<div class="item scatter_chart">
			<div class="nameChart nameScatterChart organization"></div>
			<div class="label">Mfr. Item ID</div>
			<div class="prev" onclick="scrollPrev(this)">◀</div>
			<div class="wrapLegend"><div class="legendScatterChart organization"></div></div>
			<div class="next" onclick="scrollNext(this)">▶</div>
			<svg id="scatterorganization" class="scatterChart"></svg>
		</div>
	</div>
</div>