<%= link_to  "Line and Clustered Chart", barchart_path, class: "linkx" %><br>
<div>
<div class="nameScatterChart"></div>
<svg id="scatterChart"></svg>
</div>
<br>
<%= link_to  "Home", root_path, class: "linkx" %>