<%= link_to  "Line and Clustered Chart", barchart_path, class: "linkx" %><br>
<div class="container">
  <div class="item">
    <div class="nameChart nameScatterChart market"></div>
      <div class="wrapLegend"><div class="legendScatterChart market"></div></div>
    <svg id="scattermarket" class="scatterChart"></svg>
  </div>
</div>
<br>
<%= link_to  "Home", root_path, class: "linkx" %>