<!DOCTYPE html>
<html>
  <head>
    <title>Demo Market Mornitor</title>
    <%= csrf_meta_tags %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/d3.js/d3.js"></script>
    <script src="/d3.js/d3.min.js"></script>
    <script src="/d3.js/d3.v3.min.js"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin-top: 100px;">
    <%= yield %>
    <script src="/line_clustered_chart.js"></script>
    <script src="/scatter_chart.js"></script>
  </body>
</html>
